@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #f4f9fc;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.05);
}
body {
  @apply text-dark relative bg-cream;
}

.vertical-timeline-element-date {
  color: #765de5;
}
